.navbar-1 {
  background-color: #2c3e50 !important;
}

.jumbotron-1 {
  background-color: #2c3e50 !important;
  border-radius: 0px !important;
}

.navbar-1,
.jumbotron-1 {
  color: white;
}

.button-1 {
  background-color: #7c9299 !important;
  border: 0px;
}
